#logo-panel {
  align-items: center !important;
}

#logo {
  margin-top: 5px;
}

#nav a {
  color: #ffffff;
}

.active {
  background-color: #ffffff;
  color: rgb(0, 0, 0) !important;
  border-radius: 5px;
}


body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, rgb(27, 27, 27) 40%, rgb(115, 62, 250) 100%);
  background-attachment: fixed;
  color: white;
}

.nav-item {
  margin-left: 20px;
  margin-right: 20px;
}

#logo-panel a {

  font-family: "Fjalla One", sans-serif;
  font-weight: 800;
  font-style: normal;
  text-decoration: dotted;

}
